/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}

p{
    font-size: 1em;
}
h1 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
    padding: 0 25px;
    margin-bottom: 6px;
}
.navbar {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #540B51;
    background-size: cover;
}

.navbar-ul {
    list-style: none;    
}
.navbar-ul a {
    text-decoration: none;
    color: white;
}
.slack-logo {
    max-height: 25px;
}
.menu{
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    border: none;
}
header {
    display: flex;
    background-color: #540B51;
    color :#fff;
}
.first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-section > p >span {
    color:#ECB12F;
    font-weight: bold;
}
.hero-product{
    width: 150%;
    margin-top: 30px;
    overflow: hidden;
}
.buttons{
    width: 90%;
}
.google-buttons {
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #4285F4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    margin-top: 12px;
    position: relative;
}
.google-buttons img {
    width:30px;
    padding: 0 4px;
    background-color: white;
    position: absolute;
    left: 8px;
}
.email-buttons {
    width: 100%;
    height: 46px;
    background-color: white;
    color: #540B51;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
}

.trusted-by {
    background-color: #F3EAE2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.trusted-by > p {
    text-transform: uppercase;
    font-weight: bold;
}
.trusted-by-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-bottom: 24px;
}
.trusted-by-images img{
    height: 40px;
}
.teams-slack {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 15px;
}
.teams-slack h3{
    color: #540B51;
}
.teams-slack span{
    color: #540B51;
    font-weight: 600;
    font-size: 2.8em;
}
.teams-slack ul{
    list-style: none;
}
.porcent-user {
    font-weight: bolder;
}
.digital {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #540B51;
    color: #fff;
    text-align: center;
    padding: 15px 15px 45px;
}
.free-buttom{
    width: 100%;
    height: 45px;
    background-color: white;
    color:#540B51;
    padding: 10px 20px;
    border:none;
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
}
.talk-sales{
    width: 100%;
    height: 45px;
    background-color: #540B51;
    color:white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
}
hr {
    margin: 45px 15px;
}
.footer-status {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap:15px;
    padding-left: 15px;
    font-weight: bold;
}
.footer-status img{
    margin-right: 10px;
}
.download {
    color:#4285F4 ;
}
.logos{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:30px;
    padding-left: 0;
    margin: 30px 0;
}
.copyright {
    margin: 0 15px 30px;
    text-align: center;
}

@media (max-width: 768px) {
    .nav-bar-ul {
        display: none;
    }
header {
    flex-direction: column;
    text-align: center;
}
.first-section{
    height: 65%;
    max-width: 500px;
    margin: 0 auto;
}
.google-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

    

}

@media (min-width:768px) and (max-width:1024px) {
    .nav-bar-ul {
        display: none;
    }

    .first-section {
        width: 400px;
        padding: 36px 0;
    }

    .first-section {
        text-align: left;


        margin-left: 0px;
        padding-left: 16px;
    }

    .hero-section {
        align-items: center;
        background-size: cover;
        background-image: url("../images/background-singup.png");
    }


    .title {
        font-size: 64px;
    }

}